<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante Materias</title>
    <link rel="stylesheet" th:href="@{/css/document_format.css}" href="/application/src/main/resources/static/css/document_format.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/estudiante_materias.css}" href="/application/src/main/resources/static/css//estudiante_materias.css" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
    <!-- header -->
    <header>
        <div class="header-info">
            <div class="info-logo">
                <div class="logo row">
                    <img src="/assets/brand/ico-perfil.png" alt="">
                    <button type="button" class="btn btn-outline-info">HOME</button>
                </div>
            </div>
            <div class="info-social">
                <div class="social-icon-container">
                    <img src="/assets/icons/facebook.svg" alt="">
                </div>
                <div class="social-icon-container">
                    <img src="/assets/icons/twitter.svg" alt="">
                </div>
                <div class="social-icon-container">
                    <img src="/assets/icons/instagram.svg" alt="">
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="collapse-icon-container">
                <img src="/assets/icons/three-points-menu.svg" alt="">
            </div>
            <ul>
                <li id="menu-materia">Materia</li>
                <li id="menu-tarea">Tarea</li>
                <li id="menu-area-personal">Area Personal</li>
            </ul>
        </div>
    </header>

    <!-- main -->
    <!-- Tarjeta Materia -->
    <main>
        <section class="first-section">
            <h2 class="tittle">Materias</h2>
            <div th:each="materia : ${materias}" class="card-container">
                <div class="card">
                    <h2 th:text="${materia.materia}" class="card-tittle text-center">Titulo</h2>
                    <br>
                    <a class="btn btn-primary" th:href="@{/views/estudiantes/materias/tareas/} + ${materia.idMateria}"
                        th:text="'mostrar'" title="mostrar materia">
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <section class="brand-info">
            <div class="social">
                <h3>information</h3>
                <ul class="social-info">
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">no se que poner aca</a></li>
                    <li><a href="#">no se que poner aca</a></li>
                </ul>
                <h3>follow us</h3>
                <ul class="social-icons">
                    <li class="li-facebook"><a href="#"><img src="/assets/icons/facebook.svg" alt="facebook"></a></li>
                    <li class="li-twitter"><a href="#"><img src="/assets/icons/twitter.svg" alt="twitter"></a></li>
                    <li class="li-instagram"><a href="#"><img src="/assets/icons/instagram.svg" alt="instagram"></a></li>
                    <li class="li-github"><a href="#"><img src="/assets/icons/github.svg" alt="github"></a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/brand/ico-perfil.png" alt="">
            </div>
        </section>
    </footer>


    <!-- header menu event -->
    <script>
        document.addEventListener("click", (e) => {
            if (e.target.matches(".collapse-icon-container") || e.target.matches(".collapse-icon-container img")) {
                document.querySelector(".header-menu").classList.toggle("on-view");
            }
        });
    </script>
</body>
</html>