<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante detalle tarea</title>
    <link rel="stylesheet" th:href="@{/css/document_format.css}" href="/application/src/main/resources/static/css/document_format.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/estudiante_detalle_tarea.css}" href="/application/src/main/resources/static/css/estudiante_detalle_tarea.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
    <!-- header -->
    <header>
        <div class="header-info">
            <div class="info-logo">
                <div class="logo">
                    <img src="/assets/brand/ico-perfil.png" alt="">
                    <button type="button" class="btn btn-outline-info">HOME</button>
                </div>
            </div>
            <div class="info-social">
                <div class="social-icon-container">
                    <img src="/assets/icons/facebook.svg" alt="">
                </div>
                <div class="social-icon-container">
                    <img src="/assets/icons/twitter.svg" alt="">
                </div>
                <div class="social-icon-container">
                    <img src="/assets/icons/instagram.svg" alt="">
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="collapse-icon-container">
                <img src="/assets//icons/three-points-menu.svg" alt="">
            </div>
            <ul>
                <li>Materia</li>
                <li>Tarea</li>
                <li>Area Personal</li>
            </ul>
        </div>
    </header>

    <!-- main -->
    <main>
        <section class="first-section">
            <h2 class="tittle">Detalle tarea</h2>
            <div class="card-container">
                <div th:each="detalle : ${tareaDetalle}" class="card">
                    <h2 th:text="*{detalle.titulo}" class="card-tittle">card tittle</h2>
                    <div class="card-info">
                        <p th:text="*{detalle.descripcion}"></p>
                        <br>
                        <!-- Icono de Word con la url de descarga del documento -->
                        <div>
                            <img src="/assets/icons/ico_word.png" height="30" width="30">
                            <a th:text="${detalle.documento}" th:href="${detalle.url}" style='color: black'></a>
                        </div>
                        <br>
                        <!-- Hacer una Tabla para mejorar la presentacion -->
                        <div>
                            <p>Fecha de Inicio: </p>
                            <p th:text="*{detalle.fechaInicio}"></p>
                        </div>
                        <br>  
                        <div>
                            <p>Fecha de Entrega: </p>
                            <p th:text="*{detalle.fechaFinal}"></p>
                        </div>                         
                        <!-- -------------------------------------------  -->
                    </div>
                </div>
            </div>
            <!-- Respuesta -->
            <div class="col-8">
                <table th:each="tarearespuesta : ${respuesta}" class="table table-striped">
                    <caption>Revisar Tarea</caption>
                    <tbody>
                        
                        <tr>
                            <th scope="row"></th>
                            <td>Titulo de la Tarea:</td>
                            <td th:text="${tarearespuesta.titulo}"></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Fecha de Respuesta:</td>
                            <td class="table-success" th:text="*{tarearespuesta.fechaRespuesta}"></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Archivos Enviados:</td>
                            <td>
                                <img src="/assets/icons/ico_word.png" height="30" width="30">
                                <a th:text="${tarearespuesta.documento}" th:href="${tarearespuesta.url}"></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Comentario:</td>
                            <td th:text="*{tarearespuesta.comentario}">
                                <textarea
                                    class="form-control"
                                    id="description"
                                    rows="2"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Calificación:</td>
                            <td th:text="*{tarearespuesta.nota}">
                                <input type="number" name="" id="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center">
                    <button class="btn btn-primary col-5" type="submit">Enviar</button>
                    <button class="btn btn-warning col-5" type="submit">Cancelar</button>                    
                </p>
                </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <section class="brand-info">
            <div class="social">
                <h3>information</h3>
                <ul class="social-info">
                    <li><a href="#">no se que poner aca</a></li>
                    <li><a href="#">no se que poner aca</a></li>
                    <li><a href="#">no se que poner aca</a></li>
                </ul>
                <h3>follow us</h3>
                <ul class="social-icons">
                    <li class="li-facebook"><a href="#"><img src="/assets/icons/facebook.svg" alt="facebook"></a></li>
                    <li class="li-twitter"><a href="#"><img src="/assets/icons/twitter.svg" alt="twitter"></a></li>
                    <li class="li-instagram"><a href="#"><img src="/assets/icons/instagram.svg" alt="instagram"></a></li>
                    <li class="li-github"><a href="#"><img src="/assets/icons/github.svg" alt="github"></a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/brand/ico-perfil.png" alt="">
            </div>
        </section>
    </footer>


    <!-- header menu event -->
    <script>
        document.addEventListener("click", (e) => {
            if (e.target.matches(".collapse-icon-container") || e.target.matches(".collapse-icon-container img")) {
                document.querySelector(".header-menu").classList.toggle("on-view");
            }
        });
    </script>
</body>
</html>