<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:replace="/views/profesores/template :: head">

</head>
<body>
    <header th:replace="/views/profesores/template :: header"></header>
    <div class="container">

    <main>
    
        <!--botones-->
        <div role="main-content" class="task_container">
            <!-- Right Sidebar -->
            <div class="rightSideBar">
                <!--Create button-->
                <div class="sideBarElement">
                    <button type="button" class="btn" data-toggle="modal" data-target="#taskModal" id="create_btn">
                        +
                    </button>
                </div>
            </div>
    
            <!-- Task List Display -->
            <div id="accordion">
                <h3 class="today">Thursday, Sep 3, 2020</h3>
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                    <!--Encabezado de la tabla de lista de tareas-->
                    <div class="task-header row" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="col-2">
                        <p class="text-center">Detalles</p>
                        </div>
                        <div class="col-2">
                            <p class="text-center">Titulo</p>
                        </div>
                        <div class="col-6">
                        <p class="text-center">Description</p>
                        </div>
                        <div class="col-2">
                        <p class="text-center">Detalles</p>
                        </div>
                    </div>
                    </div>
                    <!-- Mostrar la tarea Aqui -->
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" id="tasks">
                            <div class="row" th:each="tarea : ${tareas}">
                                <div class="col-2">
                                <p class="text-center" th:text="${tarea.paralelo}"></p>
                                </div>
                                <div class="col-2">
                                    <p class="text-center" th:text="${tarea.titulo}"></p>
                                </div>
                                <div class="col-6">
                                <textarea class="form-control" th:text="${tarea.descripcion}" id="description" rows="1"> </textarea>
                                </div>
                                <div>
                                    <a class="btn btn-info btn-sm" th:href="@{/views/materias/tareas/detalles/} + ${tarea.idTarea}"
                                        th:text="'Detalles'" title="Detalles Tarea">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- --------------------- -->
                </div>
            </div>
        </div>
    
    <!--Crear tablas-->
    <!-- ======================================================= Modal Body ============================================== -->
        <div class="modal fade" id="taskModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Crear Tarea</h5>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="task-modal">
                    <form th:action="@{/views/materia/tarea/save}" id="task-form" nameclass="form" th:object="${nuevo}" method="POST"> <!-- Url de Controlador -->
    
    <!-------------- cursos ---------------------->
    
                        <div class="form-group" th:each="curso : ${findCurso}">
                            <input type="hidden" th:field="*{idCurso}">
                            <label for="curso" class="col-4 col-form-label">
                                Curso
                            </label>
                            <h5 class="text-center" for="taskName" th:text="${curso.paralelo}">paralelo</h5>
                        </div>
    
    <!------------- selecione una materia -------->
    
                        <div class="form-group" th:each="materia : ${findMateria}">
                            <input type="hidden" th:field="*{idMateria}">
                            <label for="curso" class="col-4 col-form-label">Materia</label>
                            <h5 class="text-center" for="taskName" th:text="${materia.nombre}">materia</h5>
                        </div>
    
    <!------------- Titulo de la Tarea ----------->
    
                        <div class="form-group">
                            <label for="taskName">Titulo de la tarea</label>
                            <input th:field="*{titulo}" type="text" class="form-control" id="titulo" placeholder="Titulo de la Tarea"/>
                        </div>
    
    <!------------ Description de la Tarea -------->
    
                        <div class="form-group">
                        <label for="description">Descripcion</label>
                        <textarea th:field="*{descripcion}" class="form-control" id="descripcion" rows="2"> </textarea>
    
    <!--------------- fecha ----------------------->
    
                        <div class="row form-group">
                        <div class="col-8">
                            <label for="date" class="col-4 col-form-label">Fecha</label>
                            <div>
                                <input th:field="*{fechaFinal}" class="form-control form-group" type="date" id="fechaFinal"/>
                            </div>
                        </div>
                    </form>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-success btn-sm" value="Guardar"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- Onload message if there is no task  -->
        <div id="askToCreateTask" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
    

    </div>
    <footer th:replace="/views/profesores/template :: footer"></footer>
</body>
</html>